In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
stock = yf.Ticker("AAPL").history(period="1mo")

In [7]:
stock = stock.dropna().reset_index()

In [8]:
stock

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-14 00:00:00-05:00,187.699997,188.110001,186.300003,187.440002,60108400,0.0,0.0
1,2023-11-15 00:00:00-05:00,187.850006,189.500000,187.779999,188.009995,53790500,0.0,0.0
2,2023-11-16 00:00:00-05:00,189.570007,190.960007,188.649994,189.710007,54412900,0.0,0.0
3,2023-11-17 00:00:00-05:00,190.250000,190.380005,188.570007,189.690002,50922700,0.0,0.0
4,2023-11-20 00:00:00-05:00,189.889999,191.910004,189.880005,191.449997,46505100,0.0,0.0
5,2023-11-21 00:00:00-05:00,191.410004,191.520004,189.740005,190.639999,38134500,0.0,0.0
6,2023-11-22 00:00:00-05:00,191.490005,192.929993,190.830002,191.309998,39617700,0.0,0.0
7,2023-11-24 00:00:00-05:00,190.869995,190.899994,189.250000,189.970001,24048300,0.0,0.0
8,2023-11-27 00:00:00-05:00,189.919998,190.669998,188.899994,189.789993,40552600,0.0,0.0
9,2023-11-28 00:00:00-05:00,189.779999,191.080002,189.399994,190.399994,38415400,0.0,0.0
10,2023-11-29 00:00:00-05:00,190.899994,192.089996,188.970001,189.369995,43014200,0.0,0.0
11,2023-11-30 00:00:00-05:00,189.839996,190.320007,188.190002,189.949997,48794400,0.0,0.0
12,2023-12-01 00:00:00-05:00,190.330002,191.559998,189.229996,191.240005,45679300,0.0,0.0
13,2023-12-04 00:00:00-05:00,189.979996,190.050003,187.449997,189.429993,43389500,0.0,0.0
14,2023-12-05 00:00:00-05:00,190.210007,194.399994,190.179993,193.419998,66628400,0.0,0.0
15,2023-12-06 00:00:00-05:00,194.449997,194.759995,192.110001,192.320007,41089700,0.0,0.0
16,2023-12-07 00:00:00-05:00,193.630005,195.000000,193.589996,194.270004,47477700,0.0,0.0
17,2023-12-08 00:00:00-05:00,194.199997,195.990005,193.669998,195.710007,53377300,0.0,0.0
18,2023-12-11 00:00:00-05:00,193.110001,193.490005,191.419998,193.179993,60943700,0.0,0.0
19,2023-12-12 00:00:00-05:00,193.080002,194.720001,191.720001,194.710007,52696900,0.0,0.0
20,2023-12-13 00:00:00-05:00,195.089996,198.000000,194.850006,197.960007,69726500,0.0,0.0
21,2023-12-14 00:00:00-05:00,198.020004,199.619995,198.000000,198.179993,28469735,0.0,0.0